.prod-head {
  background-color: transparent;
  width: 100%;
  margin: 0;
  padding: 0 2rem !important;
}
.prod-heading {
  padding: 0 !important;
}
.btn-toggle {
  font-size: 2em;
  cursor: pointer;
}
