.Products .productContainer .main {
  padding: 0;
}

.Products .cart-sidebar {
  display: none;
}

.Products .productContainer .wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr;
  padding: 0;
}
.Products .product {
  padding: 8px;
}
.Products .product-list {
  padding: 8px 2em;
}
.Products #heading-mobile {
  display: none;
}

@media (max-width: 700px) {
  .Products .filter-sidebar,
  .Products .cart-sidebar {
    display: none;
  }
  .Products .productContainer .wrapper {
    grid-template-columns: 1fr;
  }

  .Products #heading-mobile {
    display: inline;
    text-align: center;
  }
  .Products #heading-window {
    display: none;
  }
  .Products .header-2 {
    padding: 8px 16px;
  }
}

/* SEPARATOR */
/* SEPARATOR */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --green: #f79320;
  --black: #2c2c54;
}

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

*::selection {
  background: var(--green);
  color: #fff;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 52px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
.Products section {
  padding: 16px 4%;
}

.Products .btn {
  display: inline-block;
  margin-top: 8px;
  background: var(--green);
  color: #fff;
  padding: 6.4px 28px;
  font-size: 13.6px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background: var(--black);
}

.heading {
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  padding: 8px;
  font-size: 24px;
}

.heading span {
  color: var(--green);
  text-transform: uppercase;
}

.header-1 {
  background: #eee;
  display: flex;
  justify-content: space-between;
  padding: 8px 5% 4px 9%;
}

.logo {
  color: var(--black);
  font-weight: bolder;
  font-size: 24px;
}

.logo i {
  padding-right: 4px;
  color: var(--green);
}

.search-input {
  background-color: #fdfdfd;
  font-size: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 20px !important;
}
.search-btn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header-1 .search-box-container {
  display: flex;
  height: 32px;
}

.header-1 .search-box-container #search-box {
  height: 100%;
  width: 100%;
  padding: 4px;
  font-size: 16px;
  color: #333;
  border: 0.8px solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.header-1 .search-box-container label {
  height: 100%;
  width: 40px;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
  background: var(--green);
  text-align: center;
  cursor: pointer;
}

.header-1 .search-box-container label:hover {
  background: var(--black);
}

.header-2 {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.header-2.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

.header-2 .navbar a {
  padding: 0 12px;
  font-size: 16px;
  border-radius: 4px;
  color: var(--black);
}

.header-2 .navbar a:hover {
  background: var(--green);
  color: #fff;
}

.header-2 .icons a {
  font-size: 20px;
  color: var(--black);
  padding-left: 8px;
}

.header-2 .icons a:hover {
  color: var(--green);
}

.header-2 .icons a .cart-icons-value {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #f79320;
}

#menu-bar {
  font-size: 24px;
  border-radius: 4px;
  border: 0.8px solid var(--black);
  padding: 6.4px 12px;
  color: var(--black);
  cursor: pointer;
  display: none;
}

.product .box-container {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px 20px;
}

.product .box-container .box {
  text-align: center;
  padding: 20px 12px 12px 12px;
  border: 0.8px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.product .box-container .box img {
  height: 88px;
}

.product .box-container .box .discount {
  position: absolute;
  top: 8px;
  left: 8px;
  background: rgba(0, 255, 0, 0.1);
  color: var(--green);
  padding: 5.6px;
  font-size: 12px;
}

.product .box-container .box .icons {
  position: absolute;
  top: 4px;
  right: -48px;
}

.product .box-container .box:hover .icons {
  right: 4px;
}

.product .box-container .box .icons a {
  display: block;
  height: 36px;
  width: 36px;
  line-height: 36px;
  font-size: 12px;
  color: var(--black);
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  margin-top: 5.6px;
}

.product .box-container .box .icons a:hover {
  background: var(--green);
  color: #fff;
}

.product .box-container .box h3 {
  color: var(--black);
  font-size: 16px;
}

.product .box-container .box .stars i {
  padding: 8px 0.8px;
  font-size: 13.6px;
  color: gold;
}

.product .box-container .box .price {
  font-size: 12px;
  color: #333;
  padding: 4px 0;
}

.product .box-container .box .price span {
  font-size: 12px;
  color: #999;
  text-decoration: line-through;
}

.product .box-container .box .quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 4px;
}

.product .box-container .box .quantity span {
  padding: 0 5.6px;
  font-size: 10.4;
}

.product .box-container .box .quantity input {
  border: 0.8px solid rgba(0, 0, 0, 0.3);
  font-size: 8px;
  font-weight: bolder;
  color: var(--black);
  padding: 2.4px;
  background: rgba(0, 0, 0, 0.05);
}

.product .box-container .box .btn {
  display: block;
  font-size: 10.4px;
}

/* media queries  */

@media (max-width: 1200px) {
  /* html {
    font-size: 55%;
  } */
}

@media (max-width: 991px) {
  section {
    padding: 16px;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  .header-2 .navbar a {
    font-size: 20px;
    display: block;
    text-align: center;
    background: #fff;
    padding: 5px;
  }
}

@media (max-width: 450px) {
  /* html {
    font-size: 50%;
  } */

  .heading {
    font-size: 24px;
  }

  .header-1 {
    flex-flow: column;
  }

  .header-1 .search-box-container {
    width: 100%;
  }

  .logo {
    font-size: 32px;
    text-align: center;
  }
}
