.price-range-slider {
  margin-top: 3em;
  width: 100%;
  padding: 10px 20px;
}
.slider-range {
  padding: 3em !important;
}
.price-range-slider .range-value input {
  width: 100%;
  background: none;
  font-size: 16px;
  font-weight: initial;
  box-shadow: none;
  border: none;
}
.price-range-slider .range-bar {
  border: none;
  height: 3px;
}
.price-range-slider .range-bar .ui-slider-range {
  background: #06b9c0;
}

/* TEXT FIELD STYLES  */
.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.MuiOutlinedInput-input {
  padding: 10px 10px 10px 0 !important;
}
.MuiTextField-root {
  width: 70px !important;
}
.MuiOutlinedInput-notchedOutline {
  border-color: green !important;
  border-width: 1px !important;
}
.PrivateNotchedOutline-le.item-group li,
.item-group label {
  color: green !important;
  padding-left: 5px !important;
}
.item-group {
  padding: 10px;
}

/* RANGE SLIDER */
.MuiSlider-root {
  color: green !important;
}
.slider {
  padding: 0 8px;
}

/* PRICE RANGE CONTAINER */

.price-range-container {
  padding: 10px;
  border: solid 1px green;
  border-radius: 5px;
}
