.productContainer .main {
  padding: 0;
}

.productContainer .wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 0;
}
.product {
  padding: 1em;
}
.product-list {
  padding: 0 2em;
}

@media (max-width: 700px) {
  .sidebar {
    display: none;
  }
  .productContainer .wrapper {
    grid-template-columns: 1fr;
  }
}
